.jumbotron{
background-image: url(../images/backgrounds/landing.jpg);
  background-size: cover;
}

#id{
  background: url (../images/foodtop/breakfast.jpg)
}

#party{
  color: white;
  background-color: #F15A29;
  padding: 10px;
}
#happy{
  color: white;
  background-color: grey;
  padding: 10px;
}
.container-fluid{
  padding: 0px;
}
.bg-1{
  padding: 0;
}
.bg-10{
  padding: 0;
}
.bgFoods{
  background-image:url(../images/assets/backgrounds/foodsBg.jpg);
  padding: 0;
  height: 600px;
  width:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.foods{
  height: 400px;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #ffffff;
}
.foodsHead{
height: 50px;
width: 100%;
background-color: #ccc;
}
#burger{
text-align: center;
padding: 50px;
}
.fast{
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 0%;
  margin-top: 5%;
  padding: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.faster{
  display: flex;
  margin-bottom: 10%;
  margin-left: 0%;
  margin-right: 30%;
  margin-top: 5%;
  padding: 0px;
  border-color: transparent;
  border-style: solid;
  border-width: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.Paragraph1{
  padding: 5%;
  text-align: left;
}
.Paragraph2{
  padding: 5%;
  text-align: right;
}

.customerAbout{
  width: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#articleh2{
  color:#F15A29;
}
#article{
  padding: 5%;
  text-align: center;
}
.bgMail{
  padding: 0;
  height: 300px;
  width:100%;
  background-image: url(../images/assets/backgrounds/subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.mailText{
  text-align: center;
  margin-top: 2%;
  color: #ffffff;
}
.mail{
text-align: center;
height: 200px;
width: 80%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 10%;
margin-right: 10%;
background-color: transparent;
}
.footer{
padding: 0;
height: 300px;
width:100%;
background-color:#F15A29;
}
.social{
text-align: center;
margin-top: 3%;
color: #ffffff;
}
#happy{
  padding: 20px;
  background-color: #9a9292 ;
  text-align: center;
  width: 320px;
}

#party{
  padding: 20px;
  background-color:#F15A29 ;
  color: #FFFFFF ;
  text-align: center;
  width: 315px;
 }
#lunch:hover .overlay-row{
  opacity: 3;
}
#dinner{
   background-image: url(../images/assets/foodtop/dinner.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 205.5px;
 }
 #dinner:hover .overlay-row{
   opacity: 3;
 }
#breakfast{
  background-image: url(../images/assets/foodtop/breakfast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 205.5px;
}
#lunch{
  background-image: url(../images/assets/foodtop/lunch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 205.5px;
}
#breakfast:hover .overlay-row{
  opacity: 3;
}
